.dashboard {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.dashboard-nav {
    display: flex;
    flex-direction: column;
    background-color: #f1f1f1;
    padding: 10px;
    gap: 5px;
}

.dashboard-nav>div {
    padding: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.dashboard-nav>div:hover {
    background-color: #ddd;
}

.nav-selected {
    background-color: #ddd;
}

.dashboard-content {
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 10px;
    flex: 1;
}

.data-card {
    flex: 1;
    padding: 10px;
    background-color: #f1f1f1;
    border-radius: 5px;
}

.data-card-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.data-card-subtitle {
    font-size: 0.8em;
    color: #777;
}

.data-card-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 10px;
}

.form-section {
    display: flex;
    flex-direction: column;
}

.form-label {
    font-weight: bold;
    margin-bottom: 5px;
}

.data-card-payment {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.payment-header {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 10px;
}

.payment-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.payment-total {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    font-size: 1.2em;
    font-weight: bold;
}

.payment-buttons {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.payment-buttons>button {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.payment-buttons>button:hover {
    background-color: #3e8e41;
}

.payment-buttons>label {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 0.8em;
    cursor: pointer;
    transition: color 0.3s ease;
}

.payment-buttons>label:hover {
    color: #007bff;
}

.data-card-stats {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 10px;
}

.stats-data {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.sources-data {
    display: flex;
    flex-direction: column;
    gap: 5px;
}